*{
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: auto;
    grid-template-areas: "header header"
     "nav nav"
     "main main"
     "footer footer";
}
nav ul {
    list-style-type: none;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    text-align: center;
    width: 100%;
    font-size: 2em;
}
nav ul a{
    color: white;
    text-decoration: none;
}
header{
    font-size: 1.5em;
    text-align: center;
    color: white;
    display: grid;
    animation: move 10s infinite ease-in;
}
header a{
    display: none;
}
form {
    margin: 8em 1em;
    display: grid;
    grid-template-columns: 70%;
    grid-gap: 0.5em;
}
.submit {
    width: 15em;
    background-color: lightgrey;
}
.submit:hover{
    background-color: grey;
}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    color: grey;
    margin-left: auto;
}
#pcont{
    font-size: 3em;
    padding: 180px 1em;
    color: white;
    text-align: right;
}
textarea {
    width: 99,5%;
    height: 200px;
    resize: none;
}
input{
    font-family: Arial, Helvetica, sans-serif;
}
textarea{
    font-family: Arial, Helvetica, sans-serif;
}
.contacts{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: auto;
        grid-template-areas: "header header"
         "nav nav"
         "main form"
         "footer footer";
}

.index main {
    grid-column: 1/3;
}
.index p {
    font-size: 3em;
    color: white;
    text-align: left;
    padding: 0.25em;
}
.indexmain{
    padding: 1em;
    margin: 5em;
}
.contactmain p{
    font-family: 'Grape Nuts', cursive;
}
.portfolio{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
     "nav"
     "main"
     "footer";
}
.web{
    height: 45%;
    width: 20%;
    border-radius: 20%;
    padding: 1em;
}
.mainportfolio{
    text-align: center;
    margin-top: 3em;
}
@keyframes move {
    0% {
        color: white;
    }
    25% {
        color: blue;
    }
    50% {
        color: red;
    }
    75% {
        color: yellow;
    }
    100% {
        color: white;
    }
}
.mainblog article{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 1%;
    grid-template-rows: auto;
}
.blogbody{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
     "nav"
     "main"
     "footer";
}
.section1{
    padding:10%;
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    border-style: solid;
}
.section2{
    padding:10%;
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    border-style: solid;
}
.section3{
    padding:10%;
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    border-style: solid;
}
h2{
    text-align: center;
    margin-bottom: 2em;
}