*{
    margin: 0;
    padding: 0;
}
body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: "header"
    "nav"
    "main"
    "footer";
    height: 100vh;
    background-position: center;
}
.shownav {
    height: 0.8em;
    width: 1.25em;
    display: block;
    border-top: 0.2em solid white;
    border-bottom: 0.2em solid white;
    border-radius: 0.1em;
}
.shownav:before {
    content: '';
    position: absolute;
    width: 1.25em;
    margin-top: 0.3em;
    border-top: 0.2em solid #fff;
}
nav {
    display: block;
    background-color: white;
    grid-area: nav;
    position: fixed;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100vh;
    padding: 2em;
    transform: translate(100%, 0);
    transition: transform 0.5s ease-in;
    background-image: url("images/portfolio_background.jpg");
    background-size: cover;
}
#button:target nav {
    display: block;
    transform: none;
    
}
#button .shownav {display: block;}
#button .off {display: none;}
#button:target .shownav {display: none;}
#button:target .off {display: block;}
footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 2em;
    color: grey;
    margin: auto;
}
h1{
    text-align: center;
}
.indexmain p{
    font-size: 2em;
    text-align: center;
    color: white;
    padding: 0.5em;
}
nav ul a{
    color: white;
    text-decoration: none;
    font-size: 2em;
}
.img{
    height: 35%;
    width: 20%;
    border-radius: 20%;
    padding: 1em;
}
nav ul{
    list-style-type: none;
    text-align: left;
}
.off{
    text-decoration: none;
    color: white;
    font-size: 1.5em;
}
nav ul li{
    padding: 5%;
}
h3{
    text-align: center;
    margin-top: -4em;
    font-size: 1.5em;
    color: white;
    margin-bottom: 2em;
}
.mainportfolio{
    text-align: center;
}
.section1{
    padding:5%;
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    border-style: solid;
}
.section2{
    padding:5%;
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    border-style: solid;
}
.section3{
    padding:5%;
    background: rgba(255,255,255,0.5);
    border-radius: 1em;
    border-style: solid;
}
.icon{
    display: none;
}
.contactmain p{
    font-family: 'Grape Nuts', cursive;
    font-size: 2em;
    color: white;
    text-align: center;
    padding: 0.5em;
    margin: -4em;
}
form {
    margin: -10em 1em 0em 1em;
    display: grid;
    grid-template-columns: 100%;
    grid-gap: 0.5em;
}
textarea {
    width: 99,5%;
    height: 15em;
    resize: none;
}
.submit{
    background-color: rgb(71, 93, 194);
    color: white;
}
.submit:hover{
    background-color: grey;
}
